[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gtreg"]
	path = gtreg
	url = https://github.com/shannonpileggi/gtreg
[submodule "gtsummary"]
	path = gtsummary
	url = https://github.com/ddsjoberg/gtsummary
	registered = false
